
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>

    
</head>
<body>
    
    <div align="center"> <img src="~/images/serverdown.jpg"  style="width:400px;height:400px" />
        <h2>Our Servers are Not Responding at the moment!!!!</h2>
    </div>
    <input type="submit" value="Home page"
           onclick="window.location = 'http://reports.ankapurchicken.com';" />  
</body>
</html>
