@model report_ankapur.Models.reports

@*<link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet" />

<link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />*@
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{

@*<div class="content-wrapper">
    <div class="container-fluid">*@
<!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a >  Reports</a>
        </li>
        <li class="breadcrumb-item">
            <a > Monthly reports</a>
        </li>
    </ol>





    <div class="d-block">
        @*@using (Html.BeginForm("downloadmonthly", "monthly", FormMethod.Post))
        {*@
            <div class="row my-2">
                <div class="pl-3 pr-2 float-left d-flex align-items-center">
                    <b>Select Month</b>
                </div>
                
                    <div class="col-xs-12 col-md-3">
                 <input type="month" class="form-control" name="DeliverTime" value="" id="datetimepicker" placeholder="Month" />
             </div>
                <div class="col-xs-12">
                    <select id="restcode" name="restcode">
                        <option value="">select restaurant</option>
                        <option value="AN">A.S.Rao Nagar</option>
                        <option value="HN">Himayath Nagar</option>
                        <option value="KP">Kukatpally</option>
                    </select>
                </div>
           @* <div class="col-xs-12">
        <label><input type="radio" name="restcode" id="restcode" value="HN" checked><span></span>HN</label>
        </div>
    <div class="col-xs-12 ">
    <label> <input type="radio" name="restcode" id="restcode" value="AN" ><span></span>AN</label>
                       </div>
                                                                    <div class="col-xs-12 ">
              <label> <input type="radio" name="restcode" id="restcode" value="KP" ><span></span>KP</label>
                                                                                                              </div>*@



                    <div class="px-2 float-left">
                        <button class="btn btn-primary" type="button" id="btnplaceorder" value="placeorder" onclick="saveorder(this.value)">Report </button>
                    </div>
                    @*<button class="btn  btn-primary mr-2" value="download" onclick="downloadvalue(this.value)">Download</button>*@
                    @*<div class="px-2 float-left">
                <input type="submit" class="btn btn-primary" id="btnSubmit" value="Download" />
            </div>*@
                </div>
        @*}*@
    </div>

<!-- Example DataTables Card-->

        <div id="records1">
            @*@{Html.RenderAction("monthlyreport", "monthly");}*@

        </div>
        <div id="myModal">
            <div class="customerDetailsAlert position-fixed">
                <div class="content position-absolute p-3">
                    @{Html.RenderAction("OrderDetails", "Home");}
                    <i class="fa fa-times position-absolute" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    <!-- Custom scripts for this page-->
                        <script src="~/vendor/jquery/jquery.min.js"></script>
                        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
                        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
                        <script>
            $(document).ready(function () {
                var table = $('#dataTable').DataTable();

                $('#dataTable tbody').on('click', 'tr', function () {
                    var data = table.row(this).data();
                    var id = data[0];
                    var url = 'OrderDetails/Home?orderid=' + id;
                    $('#orderdetails').empty().load(url);
                   // alert(data[0]);
                    $('#myModal').show();
                    $(".customerDetailsAlert").css("display", "block");
                   // alert(data[0]);

                });
            });
                        </script>
                        <script>
        var customerDetailsAlertClose = $(".customerDetailsAlert > .content > i.fa-times");
        var Cds = customerDetailsAlertClose;
        $(Cds).click(function () {
            var closeAlert = "none";
            $(this).parents(".customerDetailsAlert").css("display", closeAlert);

        });
                        </script>
    <script type="text/javascript">

            function saveorder(clickedvalue) {
                var deliverytime = new Date();
                deliverytime.setHours(deliverytime.getHours() + 1);
                var date = new Date().toDateString() + ' ' + deliverytime.toLocaleTimeString();
                var dpval = $("#datetimepicker").val();
                var restcode = $("#restcode").val();
                if (restcode === undefined) {
                    alert('Please select restarent area!');
                } 
                DeliverTime = $("#datetimepicker").val();
                if (dpval == '') {
                    alert('Please select date!');
                    $("#datetimepicker").focus();
                }

                else {
                    if (clickedvalue == 'placeorder') {
                        var cartdata = window.localStorage.getItem("finalvalue");

                        $.ajax({
                            //url: '/Reports/Dailyreport?DeliverTime=' + DeliverTime,
                            type: 'POST',
                            url: '/monthly/ajaxcall',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                              //  alert(data);
                            var url = '/monthly/monthlyreport?DeliverTime=' + DeliverTime + '&restcode=' + restcode;
                            $('#records1').empty().load(url);

                            },
                            error: function (data) {

                                alert("Failed!!!");
                            }
                        });

                    }
                }
            }

                </script>
 
                }
                else
                {
                    Response.Redirect("/Home/Index");
                }

