
@*<script>
  window.onload = function () {
        alert(" Total Orders :@ViewBag.orders        Total Amountpaid :@ViewBag.Totalamount ");
        };
</script>*@
@*<div id="myModal" class="modal">*@


    <!-- Modal content -->
    <div id="ordersummary">
        <p> Phone Number       :<b> @ViewBag.phoneno </b></p>
        <p> Total Orders       :<b> @ViewBag.orders </b></p>
        <p> Total Amount Paid  :<b>Rs. @ViewBag.Totalamount</b></p>
        <p> Discount available :<b> @ViewBag.discount</b></p>
    </div>



@*</div>*@